@import "var";
@import "mixin";
html {
  font-size: 62%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
a,
a:hover {
  text-decoration: none;
}
.main_header {
  width: 100vw;
  line-height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    $main-color;

  & .navbar-brand {
    color: $text-color;
    animation: music 1s linear infinite;
    animation-direction: alternate;

    & .fa-headphones {
      font-size: 4rem;
    }
    @keyframes music {
      from {
        transform: rotate(5deg);
      }
      to {
        transform: rotate(-5deg);
      }
    }

    &:hover {
      filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
    }
  }

  & .navbar-nav {
    padding-left: 15rem;

    & .nav-item .nav-link {
      font-size: 1.6rem;
      color: $text-color;
      text-transform: uppercase;
      padding-right: 3rem;
      text-align: center;
    }

    & .nav-item:last-child > .nav-link {
      padding-right: 0%;
    }
  }

  & .nav-item:hover > .nav-link,
  & .navbar-brand:hover,
  & .navbar-brand:hover > .fa-headphones {
    color: $primary-color;
  }

  & .my_btn {
    @include mybtn;

    &:hover {
      @include hovereffects;
    }
  }
}

//our main header part starts

.header_part {
  width: 100%;
  height: 80vh;
  background: $main-color;

  & .header_text {
    // width: inherit;
    height: 80vh;
    @include content_center(flex-start);

    & h2 {
      color: $text-color;
      font-size: 7rem;
      margin-bottom: 3 rem;
      line-height: 150%;
      font-weight: 600;
      & span {
        color: $primary-color;
        text-transform: capitalize;
      }
    }

    & p {
      font-size: 1.8rem;
      color: $text-color;
      margin-bottom: 5rem;
    }

    & .header_text_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      & a {
        @include mybtn;

        &:hover {
          @include hovereffects;
        }
      }
      & #btn_2 {
        margin-left: 2rem;
        background-color: rgba(255, 255, 255, 0.5);

        &:hover {
          @include hovereffects;
        }
      }
    }
  }

  //Image Part

  & .header_img {
    height: 70vh;
    // width: 100%;
    // background: black;
    @include content_center(flex-end);
    animation: anime 10s linear infinite alternate;

    @keyframes anime {
      from {
        transform: scale(0.9);
      }
      to {
        transform: scale(1);
      }
    }


    & img {
      filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
    }
  
  }
}

//Responsive
@media (max-width: 768px){
html{
  font-size: 50%;
}
.main_header{
  line-height: 5rem;
  text-align: center;
  padding: 0 2rem;

  .main_header .my_btn{
 margin-left: 0%;
  }

  & .navbar-nav{
    padding-left: 3rem;

    & .nav-item .nav-link {
      padding-right: 0%;
    } 
    
  }

  .navbar .navbar-toggler{
    border-color:white ;
  }
}
.header_text h2{text-align: center;}
.header_text p{
  text-align: center;
}

  .header_part .header_text .header_text_btn{
  display: block;
  margin: 0 auto;
 }
 
 .header_part .header_text .header_text_btn a{
  display: block;
  text-align: center;
 }
 
.header_part .header_text .header_text_btn #btn_2 {
  margin-top: 2rem;
  margin-left: 0%;
 }

@media (max-width: 768px){
html{
  font-size: 50%;
}
.main_header{
  line-height: 5rem;
  text-align: center;
  padding: 0 2rem;

  .main_header .my_btn{
 margin-left: 0%;
  }

  & .navbar-nav{
    padding-left: 3rem;

    & .nav-item .nav-link {
      padding-right: 0%;
    } 
    
  }

  .navbar .navbar-toggler{
    border-color:white ;
  }
}
.header_text h2{text-align: center;}
.header_text p{
  text-align: center;
}

  .header_part .header_text .header_text_btn{
  display: block;
  margin: 0 auto;
 }
 
 .header_part .header_text .header_text_btn a{
  display: block;
  text-align: center;
 }
 
.header_part .header_text .header_text_btn #btn_2 {
  margin-top: 2rem;
  margin-left: 0%;
 }



  // .header_part .header_img{
  //   display: none;
  // }

}
@media (max-width: 768px){
  html{
    font-size: 50%;
  }
  .main_header{
    line-height: 5rem;
    text-align: center;
    padding: 0 2rem;
  
    .main_header .my_btn{
   margin-left: 0%;
    }
  
    & .navbar-nav{
      padding-left: 3rem;
  
      & .nav-item .nav-link {
        padding-right: 0%;
      } 
      
    }
  
    .navbar .navbar-toggler{
      border-color:white ;
    }
  }
  .header_text h2{text-align: center;}
  .header_text p{
    text-align: center;
  }
  
    .header_part .header_text .header_text_btn{
    display: block;
    margin: 0 auto;
   }
   
   .header_part .header_text .header_text_btn a{
    display: block;
    text-align: center;
   }
   
  .header_part .header_text .header_text_btn #btn_2 {
    margin-top: 2rem;
    margin-left: 0%;
   }
}
  @media (max-width: 1000px){
  html{
    font-size: 50%;
  }
  .main_header{
    line-height: 5rem;
    text-align: center;
    padding: 0 2rem;
  
    .main_header .my_btn{
   margin-left: 0%;
    }
  
    & .navbar-nav{
      padding-left: 3rem;
  
      & .nav-item .nav-link {
        padding-right: 0%;
      } 
      
    }
  
    .navbar-toggler{
     
    border: 1px solid #fff !important;
    }
  }
  .header_text h2{text-align: center;}
  .header_text p{
    text-align: center;
  }
  
    .header_part .header_text .header_text_btn{
    display: block;
    margin: 0 auto;
   }
   
   .header_part .header_text .header_text_btn a{
    display: block;
    text-align: center;
   }
   
  .header_part .header_text .header_text_btn #btn_2 {
    margin-top: 2rem;
    margin-left: 0%;
   }
  
  
  
    // .header_part .header_img{
    //   display: none;
    // }
  
  }
}